// ###################
// COLUMN LAYOUTS
// ###################

section {
	padding: 1rem;
	@include break(tablet) {
		@include boxFloat(46%, left);
		min-height: 24rem;
		padding: 0;
	}
	@include break(desktop) {
		@include boxFloat(30.5%, left);
		min-height: 22rem;
		padding: 0;
	}
}

section:nth-child(even) {
	@include break(tablet) {
	    margin-left: 3%;
	    margin-right: 1%;
	}
}

section:nth-child(odd) {
	@include break(tablet) {
		margin-left: 1%;
		margin-right: 3%;
	}
}

section:nth-child(3n+1) {
	@include break(desktop) {
	    margin-left: 1%;
	    margin-right: 2%;
	}
}

section:nth-child(3n+2) {
	@include break(desktop) {
		margin-left: 2%;
		margin-right: 1%;
	}
}

section:nth-child(3n+3) {
	@include break(desktop) {
	   	margin-left: 1%;
		margin-right: 1%; 
	}
}