// ###################
// FOOTER LAYOUT
// ###################

footer {
	width: 90%;
	margin: 0 auto;
	border-top: .2rem solid $bckgnd-prim;
	padding: 1rem 0 1rem;
	@extend %clearfix;
	@include break(tablet) {
		padding-bottom: 2rem;
	}
	@include break(desktop) {
		padding-bottom: 0;
	}
	h3 {	
		@include boxFloat(40%, left);
		text-align: left;
		@include break(tablet) {
			padding: 0;
		}
	}
	a {
		margin: 1rem 0 0 0;
		display: block;
		float: right;
	}
}

#footer-back-to-top {
	@include break(tablet) {
			display: none;
		}
	}

.footer-nav {
	display: none;
	@extend %clearfix;
	@include break(tablet) {
		display: block;
	}
	ul {
		@include break(tablet) {
			@include boxFloat(30%, right);
			margin: 1rem 0 0 0;
		}
	}
	li {
		@include break(tablet) {
			@include boxFloat(33%, left);
		}
	}
	a {
		@include break(tablet) {
			font-size: 0.5rem;
			display: block;
			margin: 0;
		}
	}
}

#contact {
	@include break(tablet) {
		padding: 1rem;
	}	
	p {
		@include break(tablet) {
			width: 65%;
			margin: 1rem auto;
		}
		@include break(desktop) {
			width: 45%;
		}
	}
}
