footer {
	width: 90%;
	margin: 0 auto;
	border-top: .2rem solid $bckgnd-prim;
	padding: 1rem 0 1rem;
	@media #{$brk-narrow} {
		padding-bottom: 2rem;
	}
	@media #{$brk-wide} {
		padding-bottom: 0;
	}
}

footer h3 {	
	@include boxFloat(40%, left);
	text-align: left;
	@media #{$brk-narrow} {
		padding: 0;
	}
}

footer a {
	margin: 1rem 0 0 0;
	display: block;
	float: right;
}

#footer-back-to-top {
	@media #{$brk-narrow} {
			display: none;
		}
	}

.footer-nav {
	display: none;
	@extend %clearfix;
	@media #{$brk-narrow} {
		display: block;
	}
}

.footer-nav ul {
	@media #{$brk-narrow} {
		@include boxFloat(30%, right);
		margin: 1rem 0 0 0;
	}
}

.footer-nav li {
	@media #{$brk-narrow} {
		@include boxFloat(33%, left);
	}
}

.footer-nav ul li a {
	@media #{$brk-narrow} {
		font-size: 0.5rem;
		display: block;
		margin: 0;
	}
}

#contact {
	@media #{$brk-narrow} {
		padding: 1rem;
	}	
}

#contact p {
	@media #{$brk-narrow} {
		width: 65%;
		margin: 1rem auto;
	}
	@media #{$brk-wide} {
		width: 45%;
	}
}