// ###################
// HEADER LAYOUT
// ###################

header {
	@extend %clearfix;
}

h1 {
	padding: 2rem 0 1rem;
	margin: 0;
	@include break(desktop) {
		@include boxFloat(30%,left);
		padding-bottom: 0;
	}
}

.fa-toggle-on,
.fa-toggle-off {
	width: 100%;
	@include break(tablet) {
		display: none;
	}	
}

nav {
	@include break(tablet) {
		width: 50%;
		margin: 0 auto;
	}	
	@include break(desktop) {
		@include boxFloat(35%, right);
		margin-top: 1.25rem;
	}
	ul {
		@include break(desktop) {
			width: 100%;
			margin: 0 auto;
		}
		li {
			background: $bckgnd-white;
			margin: 0.25rem;
			width: 100%;
			@include break(tablet) {
				@include boxFloat(33%, left);
				margin: 0;
				background: $bckgnd-sec;
			}
		}
		li a {
				display: block;
				padding: 1rem;
		}
	}
}