// color variables

$color-prim		: #999;
$color-sec		: #595959;
$bckgnd-prim	: #d9d9d9;
$bckgnd-sec		: #f2f2f2;
$bckgnd-white	: #fff;

// font stacks

$stack-sans-serif	: Helvetica, Arial, sans-serif;

// media query breakpoint variables

$brk-narrow	: '(min-width: 768px)';
$brk-wide	: '(min-width: 1024px)';